<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

    <!-- Your Basic Site Informations -->
    <title>W1Buy</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="W1Buy." />
    <meta name="keywords" content="W1Buy" />
    <meta name="author" content="AGF" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,300,600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/slick-carousel/slick/css/slick.css">
    <link rel="stylesheet" href="/lib/slick-carousel/slick/css/slick-theme.css">
    <link rel="stylesheet" href="/lib/slider-pro/css/slider-pro.min.css">
    <link rel="stylesheet" href="/lib/fancybox/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/green/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple/color.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow/color.css">-->

    <!--[if lt IE 9]>
    	<script src="js/html5.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->

    <!--[if lt IE 8]>
    	<link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->

    {{#each css}}
    <!-- dynamic css -->
    <link href="{{this}}" rel="stylesheet">
    <!-- /dynamic css -->
    {{/each}}

    <noscript>
        <link rel="stylesheet" href="/stylesheets/no-js.css">
    </noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>

<body>

    <!-- #header -->
    <header id="header">

        <!-- #navigation -->
        <nav id="navigation" class="navbar scrollspy">

            <!-- .container -->
            <div class="container">

                <div class="navbar-brand">
                    {{#if user.UserID}}
                    <a href="/contas/minhaconta">
                    {{else}}
                    <a href="#" onclick="slideAction('gotoSlide'); return false;">
                    {{/if}}
                        <img src="/images/logo.png" alt="Logo" />
                    </a>
                    <!-- site logo -->
                </div>

                <ul class="nav navbar-nav">
                    <li class="active" style="font-size: 16px; font-style: italic;"><a name="slogan">Conectando Pessoas e Negocios!!</a></li>
                    {{#if user}}
                    <li>
                        <span class="badge badge-important newMsgCount">{{user.NewMessages}}</span>
                        <a href="/contas/mensagens"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{user.DisplayName}}
							<b class="caret"></b>
						</a>
                        <span id="iStars">
							<i data-toggle="tooltip" data-placement="bottom"><img src="/images/spacer.gif" /></i>
							<i data-toggle="tooltip" data-placement="bottom"><img src="/images/spacer.gif" /></i>
						</span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <div class="navbar-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="color: #000 !important;">{{user.FirstName}} {{user.LastName}}</h4>
                                            <p class="text-muted small">
                                                {{user.Email}}</p>
                                            <div class="divider">
                                            </div>
                                            <a href="/contas/cadastro" class="btn btn-default">Meu Cadastro</a>
                                            <a href="/anuncios/novo" class="btn btn-default hidden">Anunciar o que desejo</a>
                                            <a href="/anuncios" class="btn btn-default hidden">Encontar quem deseja</a>
                                            <a href="/contas/meusanuncios" class="btn btn-default">Meus Anúncios</a>
                                            <a href="/contas/mensagens" class="btn btn-default margin-bottom10-xs">Mensagens</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-footer">
                                    <div class="navbar-footer-content">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <a href="javascript:;" class="btn btn-default btn-sm" data-toggle="modal" data-target="#passwordModal">
                                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i> Alterar Senha
                                                </a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a href="/contas/logout" class="btn btn-default btn-sm pull-right"><i class="fa fa-power-off" aria-hidden="true"></i> Sair</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {{/if}}
                </ul>

            </div>
            <!-- .container end -->

        </nav>
        <!-- #navigation end -->

        <!-- .slider-pro -->
        <div id="slider-pro" class="slider-pro">
            <div class="sp-slides">

                <div class="sp-slide">
                    <!-- 1 -->
                    <img class="sp-image" src="/images/blank.gif" data-src="/images/content/slider/1.jpg" alt="Image" style="background: url('/images/content/slider/1.jpg');"
                    />
                    <div class="header-overlay header-overlay40">
                        <div class="container">
                            <div class="header-text-left">
                                <h1 class="sp-layer sp-layer-1" data-show-transition="right" data-show-delay="200">Bem vindo a W1Buy<br /><span>"Eu Quero"</span></h1>
                                <h3 class="sp-layer sp-layer-2" data-show-transition="right" data-show-delay="400">Uma maneira de você dizer o que deseja e receber centenas de ofertas.<br /> Exitem vários
                                    sites de venda, mas somente um onde você diz o que quer, W1Buy.</h3>
                                <div class="sp-layer sp-layer-3" data-show-transition="right" data-show-delay="600">
                                    <a href="#" onclick="javascript: slideAction('moveNext'); return false;" class="btn-custom">Prosseguir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sp-slide">
                    <!-- 2 -->
                    <img class="sp-image" src="/images/blank.gif" data-src="/images/content/slider/3.jpg" alt="Image" />
                    <div class="header-overlay header-overlay60">
                        <div class="container">
                            <div class="header-text-left">
                                <h1 class="sp-layer sp-layer-1" data-show-transition="down" data-show-delay="200"><span>Eu tenho!</span></h1>
                                <h2 class="sp-layer sp-layer-2" data-show-transition="down" data-show-delay="400">A maneira mais fácil de encontrar quem deseja algo.</h2>
                                <h3 class="sp-layer sp-layer-3" data-show-transition="down" data-show-delay="600">Faça parte de uma rede de fornecedores de confiança, venha para W1Buy.</h3>
                                <div class="sp-layer sp-layer-3" data-show-transition="right" data-show-delay="600">
                                    <a href="#" onclick="javascript: slideAction('moveBack'); return false;" class="btn-custom">Retornar</a>&nbsp;
                                    <a href="#" onclick="javascript: slideAction('moveNext'); return false;" class="btn-custom">Prosseguir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sp-slide">
                    <!-- 2 -->
                    <img class="sp-image" src="/images/blank.gif" data-src="/images/content/slider/2.jpg" alt="Image" />
                    <div class="header-overlay header-overlay40">
                        <div class="container">
                            <div class="header-text-left">
                                <h2 class="sp-layer sp-layer-1" data-show-transition="down" data-show-delay="200">Ligando diariamente milhares de pessoas e empresas com o objetivo de ajudar "QUEM PROCURA
                                    e QUEM TEM".</h2>
                                <h3 class="sp-layer sp-layer-2" data-show-transition="down" data-show-delay="400">Tudo e todos no mesmo lugar.</h3>
                                <h3 class="sp-layer sp-layer-3" data-show-transition="down" data-show-delay="600">Grátis, Completo, Único, Eficiente, Garantido, Surpreendente.</h3>
                                <div class="sp-layer sp-layer-3" data-show-transition="right" data-show-delay="600">
                                    <a href="#" onclick="javascript: slideAction('moveBack'); return false;" class="btn-custom">Retornar</a>&nbsp;
                                    <a href="#" onclick="javascript: slideAction('moveNext'); return false;" class="btn-custom">Prosseguir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sp-slide">
                    <!-- 3 -->
                    <img class="sp-image" src="/images/blank.gif" data-src="/images/content/slider/4.jpg" alt="Image" />
                    <div class="header-overlay header-overlay80">
                        <div class="container">
                            <div class="col-xs-12 col-sm-4 col-sm-offset-1" style="color: #f26522;">
                                <div class="header-text-center">
                                    <h1 class="sp-layer sp-layer-1" data-show-transition="left" data-show-delay="200">Eu Quero</h1>
                                    <p class="sp-layer sp-layer-2 hidden-xs" data-show-transition="left" data-show-delay="400"><img src="/images/start_buyer.png" alt="Comprador"></p>
                                    <h2 class="sp-layer sp-layer-3" data-show-transition="left" data-show-delay="600">
                                        dizer a todos o que desejo, e receber ofertas.
                                        <div data-show-transition="right" data-show-delay="800">
                                            <a href="#" class="btn-custom btnStart">Começar</a>
                                        </div>
                                    </h2>

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-sm-offset-2" style="color: #8a27ab;">
                                <div class="header-text-center">
                                    <h1 class="sp-layer sp-layer-1" data-show-transition="left" data-show-delay="200">Eu Tenho</h1>
                                    <p class="sp-layer sp-layer-2 hidden-xs" data-show-transition="left" data-show-delay="400"><img src="/images/start_salesman.png" alt="Comprador"></p>
                                    <h2 class="sp-layer sp-layer-3" data-show-transition="left" data-show-delay="600">
                                        encontrar quem deseja o que tenho.
                                        <div data-show-transition="right" data-show-delay="800">
                                            <a href="#" class="btn-custom btnStart">Começar</a>
                                        </div>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- .slider-pro end -->

        <!-- .header-content -->
        <div class="header-content header-overlay40">

            <!-- .header-content-overlay -->
            <div class="header-content-overlay">

                <!-- .container -->
                <div class="container">

                    <!-- .row -->
                    <div class="row">

                        <div class="col-sm-3 col-md-2 col-md-offset-4">
                            <!-- 1 -->
                            <div class="header-content-feature">
                                <a href="#about">
                                    <i class="fa fa-power-off"></i>
                                    <p>Quem Somos</p>
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-2">
                            <!-- 2 -->
                            <div class="header-content-feature">
                                <a href="#faq">
                                    <i class="fa fa-commenting-o"></i>
                                    <p>Ajuda?</p>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- .row end -->

                </div>
                <!-- .container end -->

            </div>
            <!-- .header-content-overlay end -->

        </div>
        <!-- .header-content end -->

    </header>
    <!-- #header end -->

    <!-- #about -->
    <div id="about" class="wrap-container8060">

        <!-- .container -->
        <div class="container">

            <div class="post-heading-center">
                <h2>Quem Somos</h2>
                <p>O Portal consiste em uma plataforma virtual que disponibiliza a mais avançadas ferramentas de e-commerce
                    reverso para que vários usuários e empresas possam contratar e oferecer produtos e serviços mutuamente.</p>
            </div>

            <!-- .row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="margin-bottom20">
                        <p>Com início de suas operações no ano de 2016, tem como principal objetivo contribuir na intermediação
                            e agregação de novos negócios entre C2C, B2C, B2B visando a otimização dos processos de compra
                            e a potencialização das vendas de seus fornecedores parceiros.</p>
                        <p>Tendo uma equipe formada por especialistas em tecnologia e na prestação de serviços nas áreas de
                            suprimentos e logística, o Portal tem conquistado a atenção de empresas nos mais variados segmentos.</p>
                    </div>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #about end -->

    <!-- separator -->
    <div class="container">
        <div class="sep-border"></div>
    </div>

    <!-- #video -->
    <div id="video" class="bg-parallax" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080"
        data-image-src="images/content/bg/5.jpg">

        <!-- .bg-overlay -->
        <div class="bg-overlay70 wrap-container120">

            <!-- .container -->
            <div class="container text-center">

                <h2 class="margin-bottom40"><strong>Video "Compras sem perda de tempo" ?</strong></h2>
                <a href="https://www.youtube.com/embed/GF9B4zTbWfY?autoplay=1" class="btn-play fancybox-media">Play</a>

            </div>
            <!-- .container end -->

        </div>
        <!-- .bg-overlay end -->

    </div>
    <!-- #video end -->

    <!-- separator -->
    <div class="container">
        <div class="sep-border"></div>
    </div>

    <!-- #faq -->
    <div id="faq" class="wrap-container8040">

        <!-- .container -->
        <div class="container">

            <div class="post-heading-center">
                <h2>Perguntas & Respostas</h2>
                <p>As perguntas mais frequentes são respondidas aqui para sua conveniência!</p>
            </div>

            <!-- .row -->
            <div class="row">

                <div class="col-sm-6">
                    <div class="affa-faq">
                        <!-- 1 -->
                        <h4>Porque devo anunciar na W1Buy?</h4>
                        <p>O sistema W1Buy, foi lançado para inovar a maneira de comprar. Agora tudo ficou muito mais fácil
                            e rápido. Pare de ficar rodando em sites de venda. Diga o que quer e receba centenas de ofertas.
                            Tudo muito rápido, fácil e grátis.</p>
                    </div>

                    <div class="affa-faq">
                        <!-- 2 -->
                        <h4>Devo pagar algo para anunciar o que desejo?</h4>
                        <p>Na W1Buy, você faz seu anuncio e é totalmente grátis, receba ofertas e começe a negociar. Seja produtos,
                            serviços, turismo, passagens aéreas plano de saude, oportunidade de emprego, o que você deseja,
                            é tudo muito fácil, rápido e grátis. Anuncie o que deseja e receba centenas de ofertas.</p>
                    </div>

                    <div class="affa-faq">
                        <!-- 3 -->
                        <h4>É seguro?</h4>
                        <p>Na W1Buy você trata diretamente com as outras partes interessadas, quem for mais rápido fecha o negócio.
                            Assim que tudo estiver finalizado, basta ligar ou enviar um e-mail. Você nao usará cartão de
                            credito e não paga para depois receber. Pague diretamente para outra pessoa.</p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="affa-faq">
                        <!-- 4 -->
                        <h4>Encontre tudo e todos!</h4>
                        <p>Na W1Buy, você pode realizar negócios em todo o Brasil, sem se preocupar em conhecer o mercado de
                            cada cidade. Basta digitar o que tem para oferecer e centenas de interessados pelo Brasil será
                            apresentado para você. Seja visto, não espere ser encontrado.</p>
                    </div>

                    <div class="affa-faq">
                        <!-- 5 -->
                        <h4>
                            Então é uma nova rede conectando pessoas e negócios?</h4>
                        <p>Uma rede de pessoas, onde tudo está no mesmo local. Se deseja algo é so anunciar, se deseja oferecer
                            algo encontre facilmente quem deseja e rapidamente poderá fazer sua oferta, enviando uma mensagem
                            e realizando seu negócios.</p>
                    </div>

                    <div class="affa-faq">
                        <!-- 6 -->
                        <h4>
                            Minha Empresa pode usar a W1Buy?</h4>
                        <p>Sim. A W1Buy é uma empresa destinada a soluções tanto para C2B como B2B. Usando a plataforma, sua
                            empresa poderá ter acesso a diversas cotações. Não perca mais tempo, pare de solicitar cotações
                            e tenha controle on-line de suas cotações a qualquer momento.</p>
                    </div>
                </div>

            </div>
            <!-- .row end -->

            <div id="content"></div>

            <p class="margin-bottom40"><i>Caso não tenha encontrado a resposta para sua pergunta aqui, entre em contato conosco <a href="#">w1buy@w1buy.com.br</a></i></p>

        </div>
        <!-- .container end -->

    </div>
    <!-- #faq end -->

    <!-- #footer -->
    <footer id="footer">

        {{>footer}}

    </footer>
    <!-- #footer end -->

    {{>passwordChange}}

    <a href="#" class="scrollup" title="Back to Top!">Scroll</a>
    <!-- Back to Top -->

    <!--[if lt IE 8]>
    	<div class="browser-notice">
            <div class="container">
            	<div class="text">
                    <h1>Internet Explorer Out To Date</h1>
                    <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
                    <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="blank">here....</a></span>
                </div>
            </div>
        </div>
	<![endif]-->

    <!-- Login panel -->
    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Acessar sua conta</h4>
                </div>
                <div class="modal-body">
                    {{>login}}
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Login panel close -->

    <script>
        let userId = "{{user.UserID}}";
        if (userId) {
            window.location.href = "/contas/minhaconta"
        }
    </script>

    <!-- JavaScripts -->
    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
    {{!--
    <script type="text/javascript" src="/lib/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/lib/jquery/jquery-migrate-1.2.1.min.js"></script> --}}
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.easing/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/lib/smoothscroll/js/smoothscroll.min.js"></script>
    <script type="text/javascript" src="/lib/response.js/js/response.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-placeholder/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/lib/fitvids/js/fitvids.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.imgpreload.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-waypoints/js/waypoints.min.js"></script>
    <script type="text/javascript" src="/lib/slick-carousel/slick/js/slick.min.js"></script>
    <script type="text/javascript" src="/lib/slider-pro/js/jquery.sliderPro.min.js"></script>
    {{!--
    <script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script> --}}
    <script type="text/javascript" src="/lib/fancybox/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/lib/fancybox/helpers/js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="/javascripts/parallax.min.js"></script>
    <!--moment -->
    <script src="/lib/moment/moment.min.js"></script>
    <script src="/lib/moment/locale/pt-br.js"></script>
    {{!--
    <script src="/lib/moment/timezone/moment-timezone.min.js"></script>
    <script src="/lib/moment/timezone/moment-timezone-with-data.min.js"></script>
    <script src="/lib/moment/timezone/moment-timezone-with-data-2012-2022.min.js"></script> --}} {{!--
    <script type="text/javascript" src="/lib/jquery.counterup/js/jquery.counterup.min.js"></script> --}}
    <script type="text/javascript" src="/lib/isotope-layout/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <!-- Socket.IO -->
    <script src="/socket.io/socket.io.js"></script>

	<script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-74617611-1', 'auto');
        ga('send', 'pageview');
	</script>

    {{#each script}}
    <!-- dynamic scripts -->
    <script src="{{this}}"></script>
    <!-- /dynamic scripts -->
    {{/each}}

</body>

</html>